<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="tgc-addons" controller="TG\Core:AddOn" context="TGCoreAddons"/>
  <route route_type="admin" route_prefix="tgc-rebuilds" format=":str&lt;rebuild_id&gt;" controller="TG\Core:Rebuild" context="TGCRebuildCaches"/>
</routes>
