<xf:title>{{ phrase('add_ons') }}</xf:title>

<xf:css src="tgc_addon_list.less" />

<div class="block">
	<div class="block-container">
		<h2 class="block-tabHeader block-tabHeader--memberTabs tabs hScroller"
			data-xf-init="tabs h-scroller"
			data-panes=".js-memberTabPanes"
			data-state="replace"
			role="tablist">
			<span class="hScroller-scroll">
				<a rel="nofollow"
				   class="tabs-tab"
				   id="addons-intalled"
				   role="tab">{{ phrase('tgc_addon_istalled') }}</a>
				<a rel="nofollow"
				   class="tabs-tab"
				   id="addons-disabled"
				   role="tab">{{ phrase('tgc_addon_disabled') }}</a>
				<a rel="nofollow"
				   class="tabs-tab"
				   id="addons-updraged"
				   role="tab">{{ phrase('tgc_addon_upgradeable') }}</a>
				<a rel="nofollow"
				   class="tabs-tab"
				   id="addons-noninstaled"
				   role="tab">{{ phrase('tgc_addon_installable') }}</a>
			</span>
		</h2>
		<div class="block-body">
			<ul class="tabPanes js-memberTabPanes">
				<li role="tabpanel" id="addons-intalled">
					<xf:datalist>
						<xf:foreach loop="{$installed}" value="$addOn">
							<xf:datarow>
								<xf:cell>
									<xf:macro template="addon_list_macros" name="addon_list_item_icon" arg-addOn="{$addOn}" />
								</xf:cell>

								<xf:main label="{$addOn.title}" hint="{$addOn.version_string}">
									<xf:explain>
										{{ $addOn.description ? snippet($addOn.description, 200)|nl2br : '&nbsp;' }}
									</xf:explain>
								</xf:main>
								
								<xf:cell>
									<xf:macro template="addon_list_macros" name="addon_list_item_footer" arg-addOn="{$addOn}" />
								</xf:cell>
								
								<xf:cell>
									<xf:macro template="addon_list_macros" name="addon_list_item_menu" arg-addOn="{$addOn}" />
								</xf:cell>
							</xf:datarow>
						</xf:foreach>
					</xf:datalist>
				</li>
				<li role="tabpanel" id="addons-disabled">
					<xf:if is="$disabled is not empty">
						<xf:datalist>
							<xf:foreach loop="{$disabled}" value="$addOn">
								<xf:datarow>
									<xf:cell>
										<xf:macro template="addon_list_macros" name="addon_list_item_icon" arg-addOn="{$addOn}" />
									</xf:cell>

									<xf:main label="{$addOn.title}" hint="{$addOn.version_string}">
										<xf:explain>
											{{ $addOn.description ? snippet($addOn.description, 200)|nl2br : '&nbsp;' }}
										</xf:explain>
									</xf:main>

									<xf:cell>
										<xf:macro template="addon_list_macros" name="addon_list_item_footer" arg-addOn="{$addOn}" />
									</xf:cell>

									<xf:cell>
										<xf:macro template="addon_list_macros" name="addon_list_item_menu" arg-addOn="{$addOn}" />
									</xf:cell>
								</xf:datarow>
							</xf:foreach>
						</xf:datalist>
					<xf:else />
						<div class="block-row">{{ phrase('no_add_ons_installed_or_available_to_be_installed') }}</div>
					</xf:if>
				</li>
				<li role="tabpanel" id="addons-updraged">
					<xf:if is="$upgradeable is not empty">
						<xf:datalist>
							<xf:foreach loop="{$upgradeable}" value="$addOn">
								<xf:datarow>
									<xf:cell>
										<xf:macro template="addon_list_macros" name="addon_list_item_icon" arg-addOn="{$addOn}" />
									</xf:cell>

									<xf:main label="{$addOn.title}" hint="{$addOn.version_string}">
										<xf:explain>
											{{ $addOn.description ? snippet($addOn.description, 200)|nl2br : '&nbsp;' }}
										</xf:explain>
									</xf:main>

									<xf:cell>
										<xf:macro template="addon_list_macros" name="addon_list_item_footer" arg-addOn="{$addOn}" />
									</xf:cell>

									<xf:cell>
										<xf:macro template="addon_list_macros" name="addon_list_item_menu" arg-addOn="{$addOn}" />
									</xf:cell>
								</xf:datarow>
							</xf:foreach>
						</xf:datalist>
					<xf:else />
						<div class="block-row">{{ phrase('no_add_ons_installed_or_available_to_be_installed') }}</div>
					</xf:if>
				</li>
				<li role="tabpanel" id="addons-noninstaled">
					<xf:if is="$installable is not empty">
						<xf:datalist>
							<xf:foreach loop="{$installable}" value="$addOn">
								<xf:datarow>
									<xf:cell>
										<xf:macro template="addon_list_macros" name="addon_list_item_icon" arg-addOn="{$addOn}" />
									</xf:cell>

									<xf:main label="{$addOn.title}" hint="{$addOn.version_string}">
										<xf:explain>
											{{ $addOn.description ? snippet($addOn.description, 200)|nl2br : '&nbsp;' }}
										</xf:explain>
									</xf:main>

									<xf:cell>
										<xf:macro template="addon_list_macros" name="addon_list_item_footer" arg-addOn="{$addOn}" />
									</xf:cell>

									<xf:cell>
										<xf:macro template="addon_list_macros" name="addon_list_item_menu" arg-addOn="{$addOn}" />
									</xf:cell>
								</xf:datarow>
							</xf:foreach>
						</xf:datalist>
					<xf:else />
						<div class="block-row">{{ phrase('no_add_ons_installed_or_available_to_be_installed') }}</div>
					</xf:if>
				</li>
			</ul>
		</div>
	</div>
</div>